In [ ]:
!pip install --upgrade pip
!pip install openpyxl

In [11]:
# It seems like there is a syntax error in the provided code. Instead of directly using 'st_read', we need to clarify
# how the 'st_read' function is defined or imported in your environment. Since it is not a standard library function,
# I'll write the corrected logic based on the assumption that this might be intending to read a CSV using pandas.

import pandas as pd

# Read the CSV file
data = pd.read_csv('Customer Behavior/Customers.csv')

# Display the data
print(data)

   CustomerID                        CustomerName         ContactName  Country
0           1                 Alfreds Futterkiste        Maria Anders  Germany
1           2  Ana Trujillo Emparedados y helados        Ana Trujillo   Mexico
2           3             Antonio Moreno Taquería      Antonio Moreno   Mexico
3           4                     Around the Horn        Thomas Hardy       UK
4           5                  Berglunds snabbköp  Christina Berglund   Sweden

In [14]:
query_1 = _dntk.execute_sql(
  'SELECT * \nFROM st_read(\'Customer Behavior/Customers.csv\')\n',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_1

  CustomerID                        CustomerName         ContactName  Country
0          1                 Alfreds Futterkiste        Maria Anders  Germany
1          2  Ana Trujillo Emparedados y helados        Ana Trujillo   Mexico
2          3             Antonio Moreno Taquería      Antonio Moreno   Mexico
3          4                     Around the Horn        Thomas Hardy       UK
4          5                  Berglunds snabbköp  Christina Berglund   Sweden

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=360ce8b9-ca56-4969-a7c6-2b4d3b309009' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>