In [1]:
!pip install --upgrade pip
!pip install openpyxl

Requirement already satisfied: pip in /root/venv/lib/python3.10/site-packages (23.0.1)
Collecting pip
  Downloading pip-25.1.1-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 54.8 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-25.1.1
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
import pandas as pd

customers = pd.read_csv('Customer Behavior/Customers.csv')
products = pd.read_csv('Customer Behavior/Products.csv')
orders = pd.read_csv('Customer Behavior/Orders.csv')
orderdetails = pd.read_csv('Customer Behavior/OrderDetails.csv')

In [3]:
query_1 = _dntk.execute_sql(
  '\nSELECT * \nFROM customers',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_1

  CustomerID                        CustomerName         ContactName  Country
0          1                 Alfreds Futterkiste        Maria Anders  Germany
1          2  Ana Trujillo Emparedados y helados        Ana Trujillo   Mexico
2          3             Antonio Moreno Taquería      Antonio Moreno   Mexico
3          4                     Around the Horn        Thomas Hardy       UK
4          5                  Berglunds snabbköp  Christina Berglund   Sweden

In [6]:
query_2 = _dntk.execute_sql(
  'SELECT * \nFROM products',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_2

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,11,Chai,1,1,10 boxes x 20 bags,18.0
1,22,Chang,1,1,24 - 12 oz bottles,19.0
2,33,Aniseed Syrup,1,2,12 - 550 ml bottles,10.0
3,44,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.0
4,55,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35

In [4]:
query_3 = _dntk.execute_sql(
  '\nSELECT * \nFROM orders',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_3

  OrderID CustomerID EmployeeID   OrderDate ShipperID
0   10248          1          5  2023-01-15         3
1   10249          2          6  2023-02-17         1
2   10250          3          4  2023-03-18         2
3   10251          4          3  2023-04-19         1
4   10252          5          2  2023-05-20         2

In [5]:
query_4 = _dntk.execute_sql(
  'SELECT * \nFROM orderdetails',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_4

   OrderDetailID  OrderID  ProductID  Quantity  Price
0            1.0  10248.0       11.0      12.0   14.0
1            2.0  10249.0       22.0      20.0    9.8
2            3.0  10250.0       33.0      10.0   18.6
3            4.0  10251.0       44.0      15.0   21.0
4            5.0  10252.0       55.0      25.0   15.6

In [21]:
query_5 = _dntk.execute_sql(
  'SELECT *, c.customerName AS CustomerName FROM orderdetails od\nINNER JOIN orders o\nON od.OrderID = o.OrderID\nINNER JOIN customers c\nON o.CustomerID = c.CustomerID',
  'SQL_DEEPNOTE_DATAFRAME_SQL',
  audit_sql_comment='',
  sql_cache_mode='cache_disabled',
  return_variable_type='query_preview'
)
query_5

,OrderDetailID,OrderID,ProductID,Quantity,Price,OrderID_2,CustomerID,EmployeeID,OrderDate,ShipperID,CustomerID_2,CustomerName,ContactName,Country,CustomerName_2
0,1,10248,11,12,14.0,10248,1,5,2023-01-15,3,1,Alfreds Futterkiste,Maria Anders,Germany,Alfreds Futterkiste
1,2,10249,22,20,9.8,10249,2,6,2023-02-17,1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico,Ana Trujillo Emparedados y helados
2,3,10250,33,10,18.6,10250,3,4,2023-03-18,2,3,Antonio Moreno Taquería,Antonio Moreno,Mexico,Antonio Moreno Taquería
3,4,10251,44,15,21.0,10251,4,3,2023-04-19,1,4,Around the Horn,Thomas Hardy,UK,Around the Horn
4,5,10252,55,25,15.6,10252,5,2,2023-05-20,2,5,Berglunds snabbköp,Christina Berglund,Sweden,Berglunds snabbköp

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=360ce8b9-ca56-4969-a7c6-2b4d3b309009' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>